body {
    font-family: inherit;
    font-size: 18px;
}

header h1 {
    margin: 10px 10px 0px 10px;
    height: 40px;
    text-align: left;
    font-size: 40px;
    font-family: FreeSerif;
    color: #7dbfbf;
    text-transform: uppercase;
    width: 760px;
    }

input {
    font: inherit;
    line-height: normal;
    width: 20%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 8px;
    display: block;
    padding-left: 0;
    background: transparent;
    outline: none;
}

.button {
    background-color: #7dbfbf;
    border: 1px solid #ccc;
}

.button:hover {
    background-color: rgb(118, 221, 162);
    border: 1px solid #ccc;
}

textarea {
    width: 20%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    resize: none;
}